.confirmation-body {
    background-color: #FFD1D1; /* Background color FF9494 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.confirmation-container {
    background: linear-gradient(to right, #DCFFE1, #FEEBE5, #FFE4EB, #FFAFAF); /* Градієнт з вказаними кольорами */
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

.confirmation-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black; /* Білий колір тексту */
}

.confirmation-message {
    font-size: 24px;
    color: black; /* Білий колір тексту */
}
